{% extends "base.html" %}
{% block content %}

<section class=" container">
    <div class=" mt-5">
        <div class="row">
            <div class="col-md-3">
                 {% if profile.profile_pic %}
                    <img  src="{{profile.profile_pic.url}}" alt="" class="card-img-top">
                    {%else%}
                    <img  src="https://konza.softwareske.net/assets/admin/img/160x160/img1.jpg"
                        class="card-img-top" alt="My profile picture">
                    {% endif %}
            </div>
            <div class="col-md-9">

                <div class="card" style="width:80%;min-height:35vh">

                    <div class="card-body text-center">

                        <h3>Name: {{ user.username }}</h3>
                        <p>
                            {% if profile.bio %}
                            <small>{{ profile.bio }}</small>
                            {% else %}
                            <h4 class="text-danger">No bio</h4>
                            {% endif %}
                        </p>
                        <h6 class="text-warning">Joined on: {{ user.date_joined|date }}</h6>

                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <h4 class="text-center btn btn-success m-4">
                                    <a  style="text-decoration:none;color:white" class=""  href="{% url 'updateprofileform' %}">

                                    Update Profile

                                    </a>
                                </h4>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
















    </div>
    </div>
</section>
{% endblock %}