{% extends "base.html" %}

{% block content %}

    <div class="container mt-5">

        <div class="row mt-4">

            <h2 class="text-center mb-5 headings">Your search results for {{message}}</h2>

            {% for post in businesses %}
            <div class="container-fluid ">
<h1 class="text-center text-info">Django Questions</h1>

<div align="right " id="displaytimer"><button class="btn btn-outline-danger">Timer: 0 seconds</button ></div>

 <form  method='post' action=''>
    {% csrf_token %}
    {% for q  in questions%}
    <div class="row whole_body">
    <div class="form-group">
      <label for="question">{{q.question}}</label>
    </div>
    <div class="form-check">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="choice1" >
            <label class="form-check-label" for="gridRadios1">
                {{q.choice1}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="choice2">
            <label class="form-check-label" for="gridRadios2">
                {{q.choice2}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="choice3">
            <label class="form-check-label" for="gridRadios1">
                {{q.choice3}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="choice4">
            <label class="form-check-label" for="gridRadios2">
                {{q.choice4}}
            </label>
        </div>
    </div>


    </div>
    {% endfor %}
    <input id='timer' class="text-danger" style="color:red" type='hidden' name="timer" value="">
    <br>
    <div class="row" style="clear: both;">
    <button type="submit" style="width:10%;margin: auto;" class="btn btn-info p-3 mt-2">Submit</button>
</div>
  </form>
    {% block script %}
        <script>

            console.log('hello world')
            const timer=document.getElementById('displaytimer')
            console.log(timer.textContent)
            const inputtag = document.getElementById('timer')

            t=0
            setInterval(()=>{
                t+=1
                timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
                inputtag.value = t
            },1000)
        </script>
    {% endblock script %}

</div>
            {% empty %}
            <div class="col-md-12">
                <div class="alert alert-dangher" role="alert">
                    <h1>No results found for your search.</h1>
                </div>
            {% endfor %}






        </div>
    </div>
    </div>

{% endblock %}